
body{
    background-color: #850000;
}
.tegar-All{
    text-align: center;
    align-items: center;
}
.tegar-footer{
    margin-top: 66px;
    height: 100px;
    width: 100px;
}
.tegar-linkthumbnail-PDIP{
    display: flex;
    overflow: hidden;
    position: absolute;
    height: 46px;
    width: 46px;
    left: 4px;
    transform: translateY(-30%);
    vertical-align: baseline;

}
.tegar-topBar{
    padding-right: 12px;
    padding-top: 12px;
    padding-left: 12px;
    padding-bottom: 12px;
    max-width: calc(788px);
    margin-top: 12px;
    margin-bottom: 12px;
    margin: 8px auto;
    display:grid;
    width:100%;
    left:0;
    right:0;
    grid-template-columns:1fr auto 1fr;
    border:1px solid;
    border-color:transparent;
    border-radius:72px;
    background-color:transparent;
    box-sizing: border-box;
}
.tegar-button-topbar{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-width: 1px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    justify-self: end;
    grid-column-start: 3;
    outline-offset: 2px;
    outline: 2px solid transparent;
}
.tegar-topbar-profiletitle{
    padding: 0px;
    margin: 0px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    vertical-align: baseline;
    font-family: myfont;
}
.tegar-logo-PDIP{
    border-radius: 50%;
    max-width: 100%;
    width: 96px;
    height: 96px;
}
@font-face{
    src: url(font-1.woff2);
    font-family: myfont;
}
.tegar-heading-1{
    margin: 0px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    text-overflow: ellipsis;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    align-items: center;
    text-align: center;
}
.tegar-div-1{
    font-family: myfont;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    margin-left: 12px;
    margin-right: 12px;
    max-width: 100%;
}
.tegar-heading-2{
    font-family: myfont;
    padding: 0px;
    margin: 0px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
}
.tegar-div-2{
    font-family: myfont;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 4px;
    align-items: center;
    -webkit-box-align: center;
}
.tegar-buttons{
    margin-top: 32px;
    width: 650px;
}
.tegar-container{
    z-index: 0;
    overflow: hidden;
    margin-bottom: 16px;
    border: 2px solid rgb(0, 0, 0);
    transition: none 0s ease 0s;
    box-shadow: rgb(0, 0, 0) 8px 8px 0px 0px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    width: calc(100% - 12px);
    right: 50%;
    border-radius: 30px;
}
.tegar-linkbutton{
    hyphens: auto;
    white-space: normal;
    background: none;
    overflow-wrap: break-word;
    word-break: break-word;
    padding-left: 66px;
    padding-right: 66px;
    margin: 0px;
    border: none;
    text-align: center;
    cursor: pointer;
    background: none;
    height: auto;
    position: relative;
    padding: 16px 20px;
    width: 100%;
    appearance: none;
    box-sizing: border-box;
    vertical-align: middle;
}
.tegar-linkthumbnail{
    overflow: hidden;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 50%;
    background-color: currentcolor;
    -webkit-mask-size: 100%;
    width: 32px;
    color: black;
    height: 32px;
    left: 8px;
    display: flex;
}
.tegar-linktitle{
    font-family: myfont;
    position: relative;
    hyphens: none;
    padding: 0px;
    margin: 0px;
    width: 100%;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    color: black;
}
.tegar-linkthumbnail:visited,.tegar-linktitle:visited{
    color: black;
}
.tegar-linkthumbnail:unvisited,.tegar-linktitle:unvisited{
    color: black;
}
.tegar-container:hover{
    box-shadow: black 5px 5px 0px 0px;
    transform: translateY(3px) translateX(3px);
}
